@model CS3750Project.Models.Class

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClassDept" class="control-label"></label>
                <input asp-for="ClassDept" class="form-control" />
                <span asp-validation-for="ClassDept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditHours" class="control-label"></label>
                <input asp-for="CreditHours" class="form-control" />
                <span asp-validation-for="CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysOfWeek" class="control-label"></label>
                <input asp-for="DaysOfWeek" class="form-control" />
                <span asp-validation-for="DaysOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfDay" class="control-label"></label>
                <input asp-for="TimeOfDay" class="form-control" />
                <span asp-validation-for="TimeOfDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
