@model CS3750Project.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Profile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group" >
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                <p></p>
            </div>
            <input type="hidden" asp-for="Email" value="@Model.Email"/>
            <input type="hidden" asp-for="Password" value="@Model.Password"/>
            <input type="hidden" asp-for="BirthDate" value="@Model.BirthDate"/>
            <div class="form-group">
                <label asp-for="AddressLineOne" class="control-label"></label>
                <input asp-for="AddressLineOne" class="form-control" />
                <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="AddressLineTwo" class="control-label"></label>
                <input asp-for="AddressLineTwo" class="form-control" />
                <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="Link1" class="control-label"></label>
                <input asp-for="Link1" class="form-control" />
                <span asp-validation-for="Link1" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="Link2" class="control-label"></label>
                <input asp-for="Link2" class="form-control" />
                <span asp-validation-for="Link2" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <label asp-for="Link3" class="control-label"></label>
                <input asp-for="Link3" class="form-control" />
                <span asp-validation-for="Link3" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <p></p>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-route-email="@Model.Email" class="btn btn-primary">Back</a>
                <p></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
