@model CS3750Project.Models.User
@{
}
@{
    ViewBag.Title = "UploadForm";
}
<h2>Upload Image</h2>
@using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Email)

    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    @if (!string.IsNullOrEmpty(ViewBag.ImagePath))
    {
        <p>Uploaded Image:</p>
        <img src="~/Uploads/@ViewBag.ImagePath" alt="Uploaded Image" />
    }
    </div>

    <a asp-action="Index" asp-route-email="@Model?.Email" class="mr-3">Profile</a>
}